.container {
	display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: .5fr 3fr;
	padding: 5px
}
.container div {
  background-color: white;
}
.container div.header {
  background-color: lightgray;
  grid-area: header;
  text-align: center;
}
.container div.menu {
  background-color: blue;
  grid-area: menu;
}
.container div.content {
  background-color: white;
  grid-area: content;
}
.container div.footer {
  background-color: lightgray;
  grid-area: footer; 
}
