/* Styles the majority of the content on the screen */
.container {
	display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: .5fr 3fr;
	background-color: white;
	padding: 5px;
}
.container div {
  background-color: white;
	padding: 10px;
}
/* Sets color to a nice orange-red and centers the text */
.container div.header {
  background-color: #eb4034;
  grid-area: header;
  text-align: center;
	font-size: 1vw;
}
/* Background color is an earthy blue, text is white and font size is large to aid readability */
.container div.menu {
	background-color: #557ab5;
	a {
		color: white;
		font-size: 1.75vw;
	}
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer; 
}

h2 {
	font-size: 2vw;
}
